html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Cormorant Garamond', sans-serif;
    min-width: 880px;
    padding: 0;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    text-transform: none;
}

h2 {
    font-size: 16px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.sprite {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}



.container {
    width: 880px;
    margin: 0 auto;
    min-height: 700px;
}
.header {
  margin-bottom: 50px;
}
.main-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.main-menu a{
    display: block;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    color: #000000;
}
.main-menu a:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
}



.title h1,
.title h2 {
    text-align: center;
 }


/* slider */
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 587px;
  list-style: none;
}
#slider li {
  width: 880px;
  height: 587px;
  position: relative;
  float: left;
}
a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* quote */
.quote {
  margin: 30px 50px;
}



/* FOOTER */
.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 75px;
  border-top: 1px solid grey;
}
.social-btn {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url(../img/sprite.png) no-repeat center;
  transition: 
  background-position: 0.5s;
  background-color: 0.5s;
}
.social-btn:hover {
  background-color: grey;
}

.social-btn-vk {
  background-position: -1px -61px;

}
.social-btn-fb {
  background-position: 5px -31px;

}
.social-btn-inst {
   background-position: 1px 0px;
}
/*.sprite-__ {
    width: 21px;
    height: 21px;
 
}

.sprite-f {
    width: 12px;
    height: 22px;
    
}

.sprite-v {
    width: 25px;
    height: 16px;
    
}*/

.footer-development a {
  text-decoration: none;
  color: #000000;
}

/*page about me */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 2;
}
.about-photo {
  margin-right: 20px;
}

.about p{
  text-align: justify;
}
.title-about {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;

}
.about-margo ul {
  list-style: none;
}